<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <nav>
            <a href="templates/manage_clients.html">Manage clients</a>
            <a href="templates/manage_products.html">Manage products</a>
            <a href="templates/manage_supply.html">Manage supply</a>
            <!--<button onclick="window.location.href='manage_products.html'">Manage Products</button>-->
        </nav>
        </header>
</body>
</html>