<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercial 2 Irmaos - Vista Mar</title>
</head>
<body>
    <header>
        <h1>Comercial 2 Irmaos - Vista Mar</h1>
        <!--<p>Tradição em vender barato</p>-->
        <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>

        </nav>
    </header>

    <main>
        <h2>Bem-vindo ao nosso site!</h2>
        <p>Este é um exemplo de uma página HTML simples.</p>
        <p>Você pode adicionar mais conteúdo aqui.</p>
    </main>

    <footer>
        <p>&copy; 2023 Comercial 2 Irmaos - Vista Mar. Todos os direitos reservados.</p>
        <p>Endereço: Rua Exemplo, 123, Cidade, Estado</p>
        <p>Telefone: (00) 1234-5678</p>
    </footer>

</body>
</html>